{% extends 'pattern.html' %}
{% block content %}
<!-- menu section -->
<br />
<br />
<br />
<div>
    <div class="section-header">
        <p><span>Cardápio</span></p>
    </div>
</div>
{% for c in categorias %}
<section id="menu{{c.id}}" class="menu">
    <div class="container" data-aos="fade-up">
        <div class="tab-content" data-aos="fade-up" data-aos-delay="300">
            <div class="tab-pane fade active show" id="menu-starters2">
                <div class="tab-header text-center">
                    <h3><span></span>{{c.nome}}</h3>
                </div>

                <div class="row gy-5">
                    {% for p in produtos %}
                    {% if p.categoria_id == c.id %}
                    <div class="col-lg-4 menu-item">
                        <h4>{{p.nome}}</h4>
                        <p class="ingredients">
                            {{p.descricao}}
                        </p>
                        <p class="price">
                            R$ {{p.preco}}
                        </p>
                    </div><!-- menu item -->

                    {% endif %}
                    {% endfor %}
                    <div class="container"><br/>
                        <div class="line"></div>
                    </div>

                </div>
            </div><!-- .end starter menu content -->
        </div>

    </div>
</section><!-- .end menu section -->
{% endfor %}

{% include 'pattern-maps.html' %}
<!-- .end google maps -->

{% endblock %}