{% extends 'pattern.html' %}
{% block content %}
{% load placeholder %}
<!-- Produtos -->
<br/>
<br/>
<br/>
<div>
    <div class="section-header">
        <p>Gestão do <span>Cardápio</span></p>
    </div>
</div>
{% for c in categorias %}
<section id="menu{{c.id}}" class="menu">
    <div class="container" data-aos="fade-up">
        <div class="tab-content" data-aos="fade-up" data-aos-delay="300">
            <div class="tab-pane fade active show" id="menu-starters2">
                <div class="tab-header text-center">
                    <h3>{{c.nome}}<!--<span><i class="bi bi-plus-square-fill"></i></span>--></h3>
                </div>

                <div class="row gy-5">
                    {% for p in produtos %}
                    {% if p.categoria_id == c.id %}
                    <div class="col-lg-4 menu-item">
                        <h4>{{p.nome}}</h4>
                        <p class="ingredients">
                            {{p.descricao}}
                        </p>
                        <p class="price">
                            R$ {{p.preco}}
                        </p>
                        <button class="btn btn-dark" data-bs-toggle="modal"
                                data-bs-target="#ModalEditProduto{{forloop.counter}}"> Editar <i
                                class="bi bi-pencil-square"></i></button>
                    </div><!-- Menu Item -->

                    {% endif %}
                    {% endfor %}
                    <div class="container"><br/>
                        <div class="line"></div>
                    </div>
                </div>
            </div><!-- .End Produtos -->
        </div>
    </div>
</section>

<!-- modals -->
{% for p in produtos %}
{% if p.categoria_id == c.id %}
<!-- start modal edit produto -->
<div class="modal fade" id="ModalEditProduto{{forloop.counter}}" tabindex="-1" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="modalEditProdutoTitle">Editar Produtos</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <!-- Form -->
            <div class="modal-body">
                <form action="." method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="id_produto" value="{{p.id}}">
                    <div class="mb-3">
                        {{form_p.categoria | placeholder:c.nome}}
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Nome</label>
                        {{form_p.nome | placeholder:p.nome}}
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Descrição</label>
                        {{form_p.descricao  | placeholder:p.descricao}}
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Preço</label>
                        {{form_p.preco | placeholder:p.preco}}
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="cbNovoProduto" id="cbNovoProduto">
                        {{form_p.is_novo}}
                        <label class="form-check-label" for="cbNovoProduto">
                            Adicionar novo produto
                        </label>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                        <button type="submit" class="btn btn-danger">Salvar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div><!-- .end modal edit produto -->
{% endif %}
{% endfor %}
<!-- .end modals -->
{% endfor %}
{% endblock %}