{% extends 'pattern.html' %}
{% block content %}
<!-- Produtos -->
<br />
<br />
<br />
<div>
    <div class="section-header">
        <p>Gestão do <span>Cardápio</span></p>
    </div>
</div>
{% for c in categorias %}
<section id="menu{{c.id}}" class="menu">
    <div class="container" data-aos="fade-up">
        <div class="tab-content" data-aos="fade-up" data-aos-delay="300">
            <div class="tab-pane fade active show" id="menu-starters2">
                <div class="tab-header text-center">
                    <h3>{{c.nome}}<span> <i class="bi bi-plus-square-fill"></i></span></h3>
                </div>

                <div class="row gy-5">
                    {% for p in produtos %}
                    {% if p.categoria_id == c.id %}
                    <div class="col-lg-4 menu-item">
                        <h4>{{p.nome}}</h4>
                        <p class="ingredients">
                            {{p.descricao}}
                        </p>
                        <p class="price">
                            R$ {{p.preco}}
                        </p>
                        <button class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#exampleModal"> Editar <i class="bi bi-pencil-square"></i></button>
                    </div><!-- Menu Item -->
                    {% endif %}
                    {% endfor %}
                    <div class="container"><br/>
                        <div class="line"></div>
                    </div>

                </div>
            </div><!-- End Starter Menu Content -->
        </div>

    </div>
</section>
{% endfor %}

<!-- Modals -->
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}